@using Microsoft.AspNetCore.Identity
@using BlogPlatform.Models
@model UserPage
@inject UserManager<ApplicationUser> userManager;

<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
          
        </form>
    </div>
</div>